@import 'base/variables';
@import 'base/media';
*{
    font-family: 'Museo Sans Cyrl 500';
    font-weight: normal;
    font-style: italic;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/our';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';