.our {
    padding: 70px 0 80px 0;
    min-height: 473px;
    background-color: #F6F6F6;
    &__main {
        margin-top: 73px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__icon {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        text-align: center;
        margin-top: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #0D0D0D; 
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
            text-align: center; 
        }
            span {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #0D0D0D;
        }
    }
}